docker/nodered/nodered_parse_mqtt.json
[
    {
        "id": "532e64b3ebd0761d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "tele/tasmota_8889BF/RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "00344c2b414e553a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 620,
        "wires": [
            [
                "df1b00e4f85cf270",
                "0f51121e3ec928ed"
            ]
        ]
    },
    {
        "id": "0f51121e3ec928ed",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 970,
        "y": 620,
        "wires": []
    },
    {
        "id": "df1b00e4f85cf270",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "parseFloat",
        "func": "\nreturn {payload:parseFloat(msg.payload.SSerialReceived)};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 700,
        "wires": [
            [
                "cf8ad416e9184c51",
                "0e61c4d11c776360"
            ]
        ]
    },
    {
        "id": "cf8ad416e9184c51",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "56cbb600.0808cc",
        "name": "",
        "measurement": "freq_meas",
        "precision": "",
        "retentionPolicy": "",
        "database": "influx",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1050,
        "y": 700,
        "wires": []
    },
    {
        "id": "0e61c4d11c776360",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "freq",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "00344c2b414e553a",
        "x": 770,
        "y": 800,
        "wires": []
    },
    {
        "id": "00344c2b414e553a",
        "type": "mqtt-broker",
        "name": "mqtt.url.com",
        "broker": "167.235.140.7",
        "port": "9883",
        "tls": "b1edaaa.a724058",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "56cbb600.0808cc",
        "type": "influxdb",
        "hostname": "192.168.2.21",
        "port": "8086",
        "protocol": "http",
        "database": "home",
        "name": "decima influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "b1edaaa.a724058",
        "type": "tls-config",
        "name": "tls",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]